<a href="https://colab.research.google.com/github/Sayak-coder/E-commerce-Customer-Behavior-Analysis/blob/main/E_commerce_Customer_Behavior_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x))
np.set_printoptions(suppress=True)

In [26]:
df=pd.read_csv('/content/E-commerce Customer Behavior - Sheet1.csv')
df.head()

,Customer ID,Gender,Age,City,Membership Type,Total Spend,Items Purchased,Average Rating,Discount Applied,Days Since Last Purchase,Satisfaction Level
0,101,Female,29,New York,Gold,1120.200,14,4.600,True,25,Satisfied
1,102,Male,34,Los Angeles,Silver,780.500,11,4.100,False,18,Neutral
2,103,Female,43,Chicago,Bronze,510.750,9,3.400,True,42,Unsatisfied
3,104,Male,30,San Francisco,Gold,1480.300,19,4.700,False,12,Satisfied
4,105,Male,27,Miami,Silver,720.400,13,4.000,True,55,Unsatisfied

In [27]:
df.columns=df.columns.str.replace(' ','_').str.lower()

In [28]:
df.columns

Index(['customer_id', 'gender', 'age', 'city', 'membership_type',
       'total_spend', 'items_purchased', 'average_rating', 'discount_applied',
       'days_since_last_purchase', 'satisfaction_level'],
      dtype='object')

In [29]:
df.isna().sum()

customer_id                 0
gender                      0
age                         0
city                        0
membership_type             0
total_spend                 0
items_purchased             0
average_rating              0
discount_applied            0
days_since_last_purchase    0
satisfaction_level          2
dtype: int64

In [30]:
df['satisfaction_level'].unique()

array(['Satisfied', 'Neutral', 'Unsatisfied', nan], dtype=object)

In [31]:
df['satisfaction_level'].mode()

0    Satisfied
Name: satisfaction_level, dtype: object

In [32]:
df['satisfaction_level']=df['satisfaction_level'].fillna('Satisfied')

In [33]:
df.duplicated().sum()

np.int64(0)

In [34]:
df=df.drop('customer_id',axis=1)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    350 non-null    object
 1   age                       350 non-null    int64
 2   city                      350 non-null    object
 3   membership_type           350 non-null    object
 4   total_spend               350 non-null    float64
 5   items_purchased           350 non-null    int64
 6   average_rating            350 non-null    float64
 7   discount_applied          350 non-null    bool
 8   days_since_last_purchase  350 non-null    int64
 9   satisfaction_level        350 non-null    object
dtypes: bool(1), float64(2), int64(3), object(4)
memory usage: 25.1+ KB

In [36]:
int_cols=df.select_dtypes(include='int64').columns

In [37]:
cols_to_encode=df.select_dtypes(include='object').columns
for c in cols_to_encode:
  print(c,'-->',df[c].unique())

gender --> ['Female' 'Male']
city --> ['New York' 'Los Angeles' 'Chicago' 'San Francisco' 'Miami' 'Houston']
membership_type --> ['Gold' 'Silver' 'Bronze']
satisfaction_level --> ['Satisfied' 'Neutral' 'Unsatisfied']

In [38]:
df=pd.get_dummies(df,columns=['membership_type'],drop_first=True)

In [39]:
df['gender']=df['gender'].map({'Female':0,'Male':1})

df['city']=df['city'].map({'New York':0,'Los Angeles':1,'Chicago':2,'San Francisco':3,'Miami':4,'Houston':5})

df['satisfaction_level']=df['satisfaction_level'].map({'Satisfied':0,'Neutral':1,'Unsatisfied':2})

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    350 non-null    int64
 1   age                       350 non-null    int64
 2   city                      350 non-null    int64
 3   total_spend               350 non-null    float64
 4   items_purchased           350 non-null    int64
 5   average_rating            350 non-null    float64
 6   discount_applied          350 non-null    bool
 7   days_since_last_purchase  350 non-null    int64
 8   satisfaction_level        350 non-null    int64
 9   membership_type_Gold      350 non-null    bool
 10  membership_type_Silver    350 non-null    bool
dtypes: bool(3), float64(2), int64(6)
memory usage: 23.0 KB

In [41]:
bool_cols=df.select_dtypes(include='bool').columns
df[bool_cols]=df[bool_cols].astype(int)

In [42]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df[int_cols]=scaler.fit_transform(df[int_cols])
df.describe()

,gender,age,city,total_spend,items_purchased,average_rating,discount_applied,days_since_last_purchase,satisfaction_level,membership_type_Gold,membership_type_Silver
count,350.000,350.000,350.000,350.000,350.000,350.000,350.000,350.000,350.000,350.000,350.000
mean,0.500,0.447,2.489,845.382,0.400,4.019,0.500,0.326,0.969,0.334,0.334
std,0.501,0.287,1.712,362.059,0.297,0.581,0.501,0.249,0.834,0.472,0.472
min,0.000,0.000,0.000,410.800,0.000,3.000,0.000,0.000,0.000,0.000,0.000
25%,0.000,0.235,1.000,502.000,0.143,3.500,0.000,0.111,0.000,0.000,0.000
50%,0.500,0.382,2.000,775.200,0.357,4.100,0.500,0.259,1.000,0.000,0.000
75%,1.000,0.647,4.000,1160.600,0.571,4.500,1.000,0.537,2.000,1.000,1.000
max,1.000,1.000,5.000,1520.100,1.000,4.900,1.000,1.000,2.000,1.000,1.000

In [43]:
X=df.drop('average_rating',axis=1)
y=df['average_rating']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=45)

In [44]:
from sklearn.linear_model import LinearRegression
model_lr=LinearRegression()
model_lr.fit(X_train,y_train)
model_lr.score(X_test,y_test)

0.9651005657342149

In [45]:
from xgboost import XGBRegressor
model_xgb=XGBRegressor()
model_xgb.fit(X_train,y_train)
model_xgb.score(X_test,y_test)

0.9902662704371452